*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: black;
    color: beige;
    text-align: center;    
    font-size: 40px;
    padding: 30px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#carrusel{
    background-color: rgba(223, 223, 223, 0.589);
    background-color: black;
    display: block;
}

#imagen img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 400px;

}

.boton{
    background-color:  rgba(177, 177, 177, 0.514);
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-style: bold;
    cursor: pointer;
    transition: all 300ms;
}

.boton:hover{
    background-color: rgb(131, 131, 131);
}

#back{
    position: absolute;
    margin-top: 190px;
    margin-left: 7%;
}

#next{
    position: absolute;
    margin-top: 190px;
    margin-left: 86%;    
}

#texto{
    padding: 20px;
    border: 2px solid #ccc;
}